<app-corporate-question-set [CurrentTestId]="CurrentTestId"></app-corporate-question-set>

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-success" style="text-align: center;" role="alert">
           <p>
            Your assessment is now complete. Thank you for taking the Questa Enneagram Assessment 

           </p>
            <br/>
            <p><a mat-button href="https://questaenneagram.com/" target="_blank">Take me to the website</a>
            </p>
        </div>
    </div>
</div>




