<div *ngIf="data.SetId === 1">
    <h1 mat-dialog-title style="font: 100 18px 'Lato',sans-serif;display: none;">Module 1 </h1>
    <div mat-dialog-content style="font: 100 18px 'Lato',sans-serif;">

        Please choose one of the five options given with each
        statement, depending on how often you
        think, feel or
        act that way.<b> While responding, look at your life as a whole (since childhood till date) rather than
            the present situation.</b>

        <br />
        <br />
        <table>
            <tr>
                <td> <img src="../assets/img/Time.jpg" style="width: 40px;height: 40px;"></td>
                <td>Estimated Time: 10-15 Minutes</td>
            </tr>
            <tr>
                <td> <img src="../assets/img/Document.jpg" style="width: 40px;height: 40px;"></td>
                <td>Number of questions: 45 </td>
            </tr>
            <tr>
                <td> <img src="../assets/img/Clock.jpg" style="width: 40px;height: 40px;"></td>
                <td>Go at your own pace</td>
            </tr>
        </table>
    </div>

</div>
<div *ngIf="data.SetId === 5 || data.SetId === 13">
    <h1 mat-dialog-title style="font: 100 18px 'Lato',sans-serif;display: none;">Module 1 </h1>
    <div mat-dialog-content style="font: 100 18px 'Lato',sans-serif;">

        For this section, please choose one of the five options given with each statement, depending on how often you
        think,
        feel or act that way.
        <b> It's important to keep in mind the context of your life in general and not just your work environment.
            Also, while responding, look back at your life since childhood till date rather than the present
            situation.</b>


        <br />
        <br />
        <table>
            <tr>
                <td> <img src="../assets/img/Time.jpg" style="width: 40px;height: 40px;"></td>
                <td>Estimated Time: 20-25 Minutes</td>
            </tr>
            <tr>
                <td> <img src="../assets/img/Clock.jpg" style="width: 40px;height: 40px;"></td>
                <td>Go at your own pace</td>
            </tr>
        </table>
    </div>

</div>
<div *ngIf="data.SetId === 2">
    <h1 mat-dialog-title style="font: 100 18px 'Lato',sans-serif;display: none;">Module 2</h1>
    <div mat-dialog-content style="font: 100 18px 'Lato',sans-serif;">
        From the given paired statements please choose the option that you relate to the most.
        <b>Keep the focus on your life as a whole (since childhood till date) rather than the present situation.</b>
    </div>
</div>
<div *ngIf="data.SetId === 6">
    <h1 mat-dialog-title style="font: 100 18px 'Lato',sans-serif;display: none;">Module 2</h1>
    <div mat-dialog-content style="font: 100 18px 'Lato',sans-serif;">
        From the given paired statements please choose the option that you relate to the most.
        <b>Keep the focus on your life since childhood till date rather than the present situation.</b>
    </div>
</div>
<div *ngIf="data.SetId === 4">
    <h1 mat-dialog-title style="font: 100 18px 'Lato',sans-serif;display: none;">Module 3</h1>
    <div mat-dialog-content style="font: 100 18px 'Lato',sans-serif;">
        For the following questions, please select the option you relate with most and choose your response accordingly.

        <br />
        <table>
            <tr>
                <td> <img src="../assets/img/Time.jpg" style="width: 40px;height: 40px;"></td>
                <td>Estimated Time: 10-15 Minutes</td>
            </tr>
            <tr>
                <td> <img src="../assets/img/Document.jpg" style="width: 40px;height: 40px;"></td>
                <td>Number of questions: 37 </td>
            </tr>
            <tr>
                <td> <img src="../assets/img/Clock.jpg" style="width: 40px;height: 40px;"></td>
                <td>Go at your own pace</td>
            </tr>
        </table>
    </div>

</div>
<div *ngIf="data.SetId === 3">
    <h1 mat-dialog-title style="font: 100 18px 'Lato',sans-serif;display: none;">Module 4</h1>
    <div mat-dialog-content style="font: 100 18px 'Lato',sans-serif;">

        <ul>
            <li>
                This section comprises of 3 sub-sections: Verbal/English, Numerical and Logical Reasoning, having 10
                questions each.
            </li>
            <li>
                You will have 30 minutes to answer all 30 questions. Please take the assessment quickly and accurately
                to perform well.
            </li>
            <li>
                If you don't know the answer to a question, leave it and get back to it if you have time. You may click
                the Back and Next button during the test to review or skip questions.
            </li>
            <li>
                It is recommended you keep a pen and rough paper (calculator, if allowed) for calculations.
            </li>
        </ul>
    </div>
</div>
<div *ngIf="data.SetId === 7">
    <h1 mat-dialog-title style="font: 100 18px 'Lato',sans-serif;display: none;">Module 3</h1>
    <div mat-dialog-content style="font: 100 18px 'Lato',sans-serif;">
        Please drag the arrow and arrange the 3 given options in the order of preference from most applicable to you to
        least applicable to you. While responding to this section
        <b>
            keep in mind the context of your life in general and not just your work environment; and look at your life
            since childhood till date rather than the present situation.
        </b>
        <br />
        <table>
            <tr>
                <td> <img src="../assets/img/Time.jpg" style="width: 40px;height: 40px;"></td>
                <td>Estimated Time: 5 Minutes </td>
            </tr>
            <tr>
                <td> <img src="../assets/img/Clock.jpg" style="width: 40px;height: 40px;"></td>
                <td>Go at your own pace</td>
            </tr>
        </table>
    </div>

</div>
<div *ngIf="data.SetId === 8">
    <h1 mat-dialog-title style="font: 100 18px 'Lato',sans-serif;display: none;">Module 4</h1>
    <div mat-dialog-content style="font: 100 18px 'Lato',sans-serif;">
        In this module, there are two types of questions – one where you need to choose one of the five options given
        with each statement depending on how much you relate to them and the second where two statements are given, and
        you need to drag the button towards the statement you relate to depending on how much you relate to it. Note
        that 4 is most relatable and 1 is least relatable.

        <table>
            <tr>
                <td> <img src="../assets/img/Time.jpg" style="width: 40px;height: 40px;"></td>
                <td>Estimated Time: 5 - 7 Minutes </td>
            </tr>
            <tr>
                <td> <img src="../assets/img/Clock.jpg" style="width: 40px;height: 40px;"></td>
                <td>Go at your own pace</td>
            </tr>
        </table>
    </div>

</div>
<div *ngIf="data.SetId === 9">
    <h1 mat-dialog-title style="font: 100 18px 'Lato',sans-serif;display: none;">Module 5</h1>
    <div mat-dialog-content style="font: 100 18px 'Lato',sans-serif;">
        Please drag the arrow and arrange the three given options in the order of preference from most applicable to you
        to least applicable to you. While responding to this section
        <b>
            keep in mind the context of your life in general and not just your work environment; and look at your life
            since childhood till date rather than the present situation.
        </b>

        <table>
            <tr>
                <td> <img src="../assets/img/Time.jpg" style="width: 40px;height: 40px;"></td>
                <td>Estimated Time: 5 - 7 Minutes </td>
            </tr>
            <tr>
                <td> <img src="../assets/img/Clock.jpg" style="width: 40px;height: 40px;"></td>
                <td>Go at your own pace</td>
            </tr>
        </table>
    </div>

</div>
<div *ngIf="data.SetId === 10">
    <h1 mat-dialog-title style="font: 100 18px 'Lato',sans-serif;display: none;">Module 6</h1>
    <div mat-dialog-content style="font: 100 18px 'Lato',sans-serif;">
        Choose one of the five options given with each statement depending on how much you relate to them.
        <br />
        This section focuses more on your <b>current life situation and experiences (last 3 to 6 months)</b>,
        so while responding please keep that in mind.

        <br />
        <table>
            <tr>
                <td> <img src="../assets/img/Time.jpg" style="width: 40px;height: 40px;"></td>
                <td>Estimated Time: 5 - 7 Minutes </td>
            </tr>
            <tr>
                <td> <img src="../assets/img/Clock.jpg" style="width: 40px;height: 40px;"></td>
                <td>Go at your own pace</td>
            </tr>
        </table>
    </div>

</div>
<div *ngIf="data.SetId === 15 || data.SetId === 12 || data.SetId === 14">
    <h1 mat-dialog-title style="font: 100 18px 'Lato',sans-serif;display: none;">Module 7</h1>
    <div mat-dialog-content style="font: 100 18px 'Lato',sans-serif;">
        For this section, please choose the option that you relate to the most.
        This section focuses more on your more <b> recent life situations and experiences (last 2 to 4 years), </b>
        so while responding please keep that in mind.

        <br />
        <table>
            <tr>
                <td> <img src="../assets/img/Time.jpg" style="width: 40px;height: 40px;"></td>
                <td>Estimated Time: 15-20 Minutes</td>
            </tr>
            <tr>
                <td> <img src="../assets/img/Clock.jpg" style="width: 40px;height: 40px;"></td>
                <td>Go at your own pace</td>
            </tr>
        </table>
    </div>

</div>

<br />
<div mat-dialog-actions>
    <button mat-button mat-dialog-close style="float: right;">Close</button>
</div>