<app-corporate-question-set [CurrentTestId]="CurrentTestId"></app-corporate-question-set>

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-success" style="text-align: center;" role="alert">
            <p>We are happy that you have chosen to walk down this path of rediscovering and transforming yourself with Questa Enneagram! </p>
            <p>However, please note that your assessment has been concluded due to some inconsistencies in your responses in Module 1. Would request you to please connect with us for further assistance - support@questaeneagram.com
            </p>
            <br/>
            <p><a mat-button href="https://questaenneagram.com/" target="_blank">Take me to the website</a>
            </p>
        </div>
    </div>
</div>




